<template>
  <div id="app" class="">
    <main class="py-16 md:py-24 px-4 bg-green-700 shadow-md">
      <div class="md:flex">
        <div class="md:flex-1 text-center">
          <h2 class="text-gray-100 font-hairline tracking-widest text-3xl">NICK PALOMINO</h2>
          <p class="mt-12 text-white font-bold text-4xl">FRONTEND EVALUATION AT UTEC</p>
        </div>
      </div>
    </main>
    <section class="md:flex justify-center px-4">
      <h4>Insertar query (Insert)</h4>
      <div class="form-control">
        <textarea name="name" rows="8" cols="80" v-model="query"></textarea>
      </div>
      <button type="button" name="button" @click="parseQuery">Parser query</button>
      <div class="result" v-show="isParsed">
        <hr>
        <h4>Descripción</h4>
        <div class="parameter">
          <div class="form-control" v-for="i in parameters">
            <label for="control" style="width:30%;">{{i.key}}</label>
            <input type="text" name="" value="" v-model="i.description" style="margin-left:10px;">
          </div>
        </div>
        <button type="button" name="button" @click="submit">Submit</button>
      </div>

    </section>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      query: "INSERTE QUERY",
      parameters: [],
      isParsed: false,
    }
  },
  methods: {
    parseQuery() {
      console.log("parsing query ... "+this.query)
      let params = this.doParse(this.query)
      if(params.length > 0) {
        this.isParsed = true;
        this.parameters = params;
      }
    },
    doParse(query) {
      let tokens = query.split(" ")
      console.dir(tokens)
      let params = []

      for(let i = 0; i<tokens.length;  i++) {
        let token = tokens[i].replace(/[(,;)]/g, "");//cleaning token
        console.log("Token "+i+" is: "+token);

        if(/^@/g.test(token)) {
          params.push({"key": token, "description": null})
        }
      }
      console.dir(params)
      return params
    },
    submit() {
      let request = {
        "query": this.query,
        "parameters": this.parameters.flat()
      }
      console.dir(request)
      axios.post('http://localhost:8080/query', request)
        .then(response => {
          console.dir(response)
        })
    }
  }
}
</script>

<style>
</style>
